---
title: About page
layout: base.njk
---

<div class="container">
  <h1>Check out the news</h1>
  <p>Choose your country</p>


  {% for item in news %}
    <a href="/{{item.country}}">{{item.country}}</a>
  {% endfor %}
</div>