---
title: A page for you
layout: base.njk
---

<div class="container">
  <h1>This is the home page</h1>
  <p class="vibe">You're awesome! ... </p>
  <div class="love">❤️</div>
</div>
<script src="js/vibe.js"></script>